@import url(https://fonts.googleapis.com/css?family=Bad+Script&subset=latin,cyrillic);

h5 {
	color: grey;
}

.btext {
	font-family: 'Bad Script', cursive;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 25%;
}
